h1{
    color: green;
}
.nim{
    color: yellow;
}
.nama{
    color: violet;
}
.program-studi{
    color: blue;
}
.mata-kuliah-informatika{
    color: darkcyan;
}
.subnim{
    color:blue;
}
.john-doe{
    color: brown;
}
.teknik-informatika{
    color: red;
}
.algoritma{
    color: darkgray;
}
.sub_nim{
    color:crimson;
}
.jane-smith{
    color:blueviolet;
}
.sistem-informasi{
    color:lawngreen
}
.matematika-lanjut{
    color: maroon;
}
.subnim{
    color:darkgreen;
}
.dila{
    color: darkorange;
}
.sistem-komputer{
    color:aqua;
}
.bahasa-indonesia{
    color:crimson
}