h1{
    color: brown;
}
.apel{
    color: red;
}
.jeruk{
    color: orange;
}
.pisang{
    color: yellow;
}
.masak_air{
    color: magenta;
}
.tuangkan_teh{
    color: seagreen;
}
.tambahkan_gula{
    color: blueviolet;
}